[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "LearningRlab"]
	path = LearningRlab
	url = https://github.com/carloshellin/learningrlab
